VITE_SUPABASE_URL=https://ghtbkvbxfwyqijdtqgjv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdodGJrdmJ4Znd5cWlqZHRxZ2p2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA5OTI3ODMsImV4cCI6MjEwNjU2ODc4M30.sSZcFDSMZczCYaTOLFqOSpv35POB_VT-IUlpn-OnYjg


VITE_TMDB_API_KEY=0149c6f5ff6b6ac68bb51ab0054ff6d1